{% extends 'block.html' %}

{% block subcontent %}
<div class="row text-center mt-3">
	<div class="col-lg-4 col-sm-6"><div class="badge badge-pill badge-warning">Batting Team : </div><h2>{{info['batting_team']}}</h2></div>
	<div class="col-lg-4 col-sm-6"><div class="badge badge-pill badge-primary">Current Score : </div><h2>{{info['runs']}} / {{info['wickets']}}</h2></div>
	<div class="col-lg-4 col-sm-6"><div class="badge badge-pill badge-success">Current Overs : </div><h2>{{info['overs']}}</h2></div>
	<h1 class="col-12 col-sm-12">Predicted Score (range) : <b>{{ lower_limit }}</b> to <b>{{ upper_limit }}</b></h1>
</div>

<a href="/" class="btn btn-light m-auto"> Predict Another Score</a>
{% endblock %}